/* ESTILOS GENERALES */

/* RESET Y FUENTES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
}

p,
span, li {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.img-viñeta {
    width: 25rem;
    margin-bottom: .625rem;
}

/* ESTILOS HEADER */
header {
    background-color: #232323;
    box-shadow: 0 2px 5px rgb(254, 254, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 1000;
}

header .logo img {
    height: 60px;
}

header .navbar a {
    margin: 0 15px;
    color: #f2f2f2;
    font-weight: 800;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #00c782;
        font-size: 18px;
        text-shadow: 0.5px 0.5px 10px #00c782;
    }
}

.hamburguesa{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 1.5625rem;
    height: .1875rem;
    margin: 5px auto;
    background-color: #f2f2f2;
    transition: .3s ease;
}


body {
    height: 90vh;
}

/* ESTILOS SECCIONES*/

/* SECCION PRESENTACION */
.Presentacion-container {
    background-image: url(../img/Presentacion.jpg);
    background-size: cover;
    padding-top: 9.375rem;
    animation: change 15s infinite ease-in-out;
    height: 100vh;
}

@keyframes change {
    40% {
        background-image: url(../img/Presentacion2.jpg);
    }
}

.Presentacion-container h1 {
    font-size: 4.6875rem;
    width: 28.125rem;
    line-height: 5rem;
    padding: 1.25rem;
    text-shadow: 2px 1px 0px #232323;
    margin-left: 4.375rem;
    color: #f5f5f5;
    border-radius: .625rem;
    letter-spacing: .0625rem;
}

.Presentacion-container h2 {
    width: 31.25rem;
    font-size: 36px;
    line-height: 3.125rem;
    padding: .625rem;
    margin-left: 4.375rem;
    color: #f5f5f5;
    text-shadow: 1px 2px 0px #232323;
    letter-spacing: 1px;
}

.Presentacion-container p {
    font-size: 1.5rem;
    color: #f5f5f5;
    border-radius: 10px;
    height: 3.5rem;
    text-align: center;
    margin-left: 6.25rem;
    background-color: #00c782;
    background-image: linear-gradient(90deg, #5a9654 1%, #375e26 52%, #1c201e 100%);
    text-shadow: 0px 0px 1px #f2f2f2;
}

.Presentacion-container a {
    text-decoration: none;
    cursor: pointer;
}

.boton-banner {
    font-size: 1.5rem;
    color: #f5f5f5;
    border-radius: .625rem;
    width: 9.375rem;
    height: 3rem;
    text-align: center;
    padding-top: .625rem;
    margin-left: 5.25rem;
    margin-top: 2.5rem;
    background-color: #00c782;
    background-image: linear-gradient(90deg, #5a9654 1%, #375e26 52%, #1c201e 100%);
    text-shadow: 0px 0px 1px #f2f2f2;
}



/* SECCION TRATAMIENTOS */

.tratamientos-colum {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 6.25rem;
}

.tratamientos-container h2 {
    width: 100%;
    font-size: 3.125rem;
    line-height: 3.125rem;
    padding: .625rem;
    text-align: center;
    color: #232323;
    margin-bottom: 1.25rem;
    letter-spacing: .0625rem;
}

.tratamientos-banner {
    font-size: 1.875rem;
    color: #f5f5f5;
    border-radius: .625rem;
    width: 12.5rem;
    height: 4rem;
    text-align: center;
    padding-top: .625rem;
    margin-top: 5rem;
    margin-bottom: 1.25rem;
    background-color: #00c782;
    background-image: linear-gradient(90deg, #5a9654 1%, #375e26 52%, #1c201e 100%);
    text-shadow: 1px 0px 1px #f2f2f2;
}

.tratamientos-cards {
    display: flex;
    justify-content: space-evenly;
}

.card-title {
    text-align: center;
    font-size: 25px;
}

.card-text {
    width: 100%;
    margin-bottom: 20px;
    text-align: justify;
}

.tratamiento-boton {
    width: 7.5rem;
    height: 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #f5f5f5;
    border-radius: .625rem;
    width: 9.375rem;
    height: 3rem;
    text-align: center;
    padding-top: .625rem;
    margin-left: 3.25rem;
    margin-top: 2.5rem;
    background-color: #00c782;
    background-image: linear-gradient(90deg, #5a9654 1%, #375e26 52%, #1c201e 100%);
    text-shadow: 0px 0px 1px #f2f2f2;
    text-decoration: none;
    display: inline-block;
    text-align: center;

}


/* SECCION NOSOTROS */
.nosotros-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.nosotros-contenido {
    width: 60%;
    margin-left: 1.875rem;
    padding-left: 30px;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotros-img {
    width: 30%;
    margin-top: 11.2rem;
}

.carousel-item img {
    border-radius: .625rem;
}

.nosotros-banner {
    font-size: 2.1875rem;
    color: #f5f5f5;
    border-radius: .625rem;
    width: 18.75rem;
    height: 4rem;
    text-align: center;
    padding: .625rem;
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
    background-color: #00c782;
    background-image: linear-gradient(90deg, #5a9654 1%, #375e26 52%, #1c201e 100%);
    text-shadow: 1px 0px 1px #f2f2f2;
}

.nosotros-info {
    width: 80%;
    margin-top: 2.5rem;
}

.nosotros-info h2 {
    margin-bottom: 1.25rem;
    font-size: 3.5rem;
    letter-spacing: 1px;
}

.nosotros-info {
    font-size: 1.4rem;
    text-align: justify;
}

/* SECCION PRECIO */
.precios-container {
    width: 100%;
}

.precios-margenes {
    margin-bottom: 3.125rem;
}

.precios-banner {
    font-size: 3rem;
    color: #f5f5f5;
    width: 100%;
    height: 140px;
    line-height: 130px;
    text-align: center;
    padding: .625rem;
    margin-top: 3.125rem;
    padding-top: 2.5rem;
    margin-bottom: 1.25rem;
    border-radius: .625rem;
    background-color: #00c782;
    background-image: linear-gradient(90deg, #5a9654 1%, #375e26 52%, #1c201e 100%);
    text-shadow: 1px 0px 1px #f2f2f2;
}

.precios-cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.precio-card {
    width: 20%;
    height: 40rem;
    background-color: #f2f2f2;
    border-radius: .625rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 5px 5px #ccc;
}

.precio-card a {
    text-decoration: none;
    cursor: pointer;
}

.precio-card-otro {
    font-size: 2.5rem;
    color: #232323;
    height: 40px;
    text-align: center;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    font-weight: bolder;
    line-height: 2.5rem;
}

.precio-card-precio {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

.precio-card-descuento {
    font-size: 35px;
    color: #f5f5f5;
    width: 100%;
    text-align: center;
    line-height: 50px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #00c782;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #5a9654 1%, #375e26 52%, #1c201e 100%);
    text-shadow: 1px 0px 1px #f2f2f2;
}

/* SECCION CONTACTO */
.contacto-container p {
    font-size: 24px;
}

.contacto-presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-caja {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}

.contacto-info {
    width: 45%;
}

.contacto-info p {
    font-size: 20px;
}

.contacto-contacto {
    display: flex;
    flex-direction: column;
}

.contacto-icon {
    display: flex;
    margin: 5px;
}

.contacto-icon h5 {
    font-size: 26px;
}

.contacto-icon p {
    font-size: 18px;
}

.contacto-formulario {
    height: 500px;
    width: 50%;
    background-color: #ebf0ea;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-formulario h4 {
    font-size: 22px;
}

.contacto-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
}

/* PIE DE PAGINA */
footer {

    width: 40px;
    background-color: #232323;
    width: 100%;
}

.redes-container {
    color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
}

.contact-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.contact-btn:hover {
    background-color: #1ebe5d;
}
.redes-sociales h3{
    text-align: center;
    font-size: 30px;

}
.redes-listado li {
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
 
}
.redes-listado h3{
    font-size: 25px;
}

.redes-listado li a{
    text-decoration: none;
    color: #f2f2f2;
}

.map h3{
text-align: center;
}

.horarios p{
    font-size: 20px;
}
.horarios h3{
    text-align: center;
}

/* a los 700px hay que poner la barra de hamburguesa */

/*  a576px para teléfonos móviles, 768px para tabletas, 
992px para portátiles, y 1200px para grandes dispositivos. 
Cómo usar media queries */

/* MEDIA QUERYS GENERAL */


@media (width <=512px) {

    .nosotros-img,
    .precio-card,
    .contacto-caja,
    .contacto-formulario,
    .tratamientos-cards {
        min-width: 400px;
    }


    .Presentacion-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }

    .Presentacion-container h1 {
        font-size: 55px;
        width: 100%;
        height: 110px;
        line-height: 60px;
        margin: 2px;
        text-align: center;
        letter-spacing: 2px;
        text-shadow: 2px 2px 2px #232323;
    }

    .Presentacion-container h2 {
        font-size: 50px;
        width: 100%;
        height: 164px;
        line-height: 60px;
        margin: 2px;
        text-align: center;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px #232323;
    }

    .Presentacion-container p {
        margin-top: 40px;
        width: 150px;
        margin-left: 8.25rem;
    }

    .fixed-top {
        position: fixed;
    }

    .tratamientos-container {
        display: flex;
        flex-direction: column;
    }

    .tratamientos-container h2 {
        line-height: 4.125rem;
    }

    .card {
        margin-top: 20px;
        margin-bottom: 10px;
        border: 2px solid #ccc;
        box-shadow: 5px 5px 5px #ccc;
        text-align: center;
    }

    .card-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .card-text {
        margin-bottom: 20px;
        text-align: justify;
        font-size: 20px;
    }

    .tratamientos-cards {
        flex-direction: column;
        align-items: center;
    }

    .tratamiento-boton {
        margin-left: 0.25rem;
    }

    .nosotros-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotros-contenido {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }

    .nosotros-info h2 {
        text-align: center;
        font-size: 3.125rem;
    }

    .nosotros-img {
        width: 50%;
        align-items: center;
    }

    .precios-cards {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .precio-card {
        width: 100%;
    }

    .precios-banner {
        width: 100%;
        height: 7.5rem;
        line-height: 2.8125rem;
        border-radius: 0px;
    }

    .precio-card-descuento {
        height: 3.75rem;
        line-height: 3.75rem;
        padding: .3125rem;
    }

    .precio-card-descripcion {
        margin-top: 1.25rem;
    }

    .boton-banner {
        margin-left: 3.25rem;
    }

    .contacto-caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contacto-info {
        width: 80%;
    }

    .contacto-formulario {
        width: 80%;
    }

    .redes-container {
        flex-direction: column;
        align-items: center;
    }

    .redes-sociales {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.redes-listado{
margin-right: 4rem;
}
.redes-listado li a{
text-decoration: none;
font-size: 20px;
color: #f2f2f2;
&:hover{
    color: #00c782;
    text-shadow: 1px 1px 1px #f2f2f2;
    cursor: pointer;
}
}

}

@media (width < 810px){

header{
    padding: 0;
}

.navbar{
    position: fixed;
    left: -100%;
    top: 3.75rem;
    flex-direction: column;
    background-color: #232323;
    width: 100%;
    padding: 0;
    transition: .3s;    
}
.navbar a{
    &:hover{
        text-align: center;
        width: 100%;
        cursor: pointer;
        color: #232323;
    }
}

.navbar.active{
    left: 0;
}

.nav-item{
    padding: 1rem 0;
}

.hamburguesa{
    display: block;
    padding-right: 25px;
}

.hamburguesa.active .bar:nth-child(2){
    opacity: 0;
}

.hamburguesa.active .bar:nth-child(1){

transform: translateY(8px) rotate(45deg);

}

.hamburguesa.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}




}

@media (width > 1600px) {

    .Presentacion-container h1 {
        font-size: 90px;
        letter-spacing: 4px;
        line-height: 90px;
        text-shadow: 2px 2px 2px #232323;
    }

    .Presentacion-container h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .Presentacion-container p {
        margin-top: 80px;
        width: 250px;
    }
}